* {
    box-sizing: border-box;
}

body {
    background-color: #eef7f4;
    text-align: center; /*A changer selon les partie de texte*/
    padding: 30px 12% 20px 12%; /*A changer quand il y aura header et footer*/
}

/* Permet de faire un condensé plutôt que répété les même choses dans chaques tagname, id, class */
#containerPerso, #containerInfos, #containerInteret, #containerExperience, #langues {
    background-color: #d6e7e1;
    box-shadow: 5px 5px 5px #9ab4ab;
    border-radius: 5px;
    margin: 0px 0px 20px;
    display: flex;  
}

.right, .left {
    width: 50%;
}

/* Les titres, span, em */
h1, h2, h3 {
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

h2, h3 {
    color: #019233;  
}

h4, em {
    font-weight: bold;
}

span {
    color: #019233;
}


